@import './colors';
@import url('https://fonts.googleapis.com/css?family=Nunito|Titillium+Web|Inconsolata&display=swap&weights=lighter|bolder');

code {
  font-family: "Inconsolata" !important;
}

.App {
  font-family: "Nunito", sans-serif;
  font-weight: light;
  text-align: center;
  min-width: 1024px;
  background-color: #eaeaea;
  @include horizontalGradient(
    $java,
    $sin,
  )
}

.App-header {
  z-index: 1;
  position: sticky;
  top: 0;
  border-bottom: 1px solid $outer-space;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Titillium Web", sans-serif;
  font-weight: lighter;
  font-size: 34.5px;
  color: $outer-space;
  background-color: white;
  h1 { margin-top: 0; }
}

.App-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .App-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    padding-top: 0px;
    width: fit-content;
  }
  .QueryManager {
    display: flex;
    // min-width: 900px;
    
    .SchemaAndData {
      display: flex;
      flex-flow: row;
      .Data { display: flex; flex-flow: row; }
    }
    .TipsAndQuery {
      // min-width: 700px;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      .Tips { width: 200px; padding: 2px; }
      .AeqlQuery {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-items: flex-start;
        >* { display: flex; }
        .Result {
          // min-height: 300px;
          // min-width: 400px; //fit-content
        }
      }
    }
  }
}

.Card {
  box-shadow: 3px 3px 5px #324;
  width: fit-content;
  padding: 8px 50px;
  p { margin:0; padding: 4px;}
  code { font-size: 82.5%; margin-bottom: 10px }
  // padding-top: 2px;

}

.Welcome {
    position: absolute;
    // left: 0;
    right: 0;
    top: -20px;
    padding: 50px;
    margin: 80px;
    opacity: 0.98;
    @media only screen and (max-width : 1200px) {
      display: none;
    }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hide;
  margin: 18px;
  margin-top: 5px;
  border-radius: 2px;
  background-color: rgba(255,255,255,0.6);
}

table {
  border: 1px solid $gallery;
  color: #000;
  margin: 0 auto;
  background-color: lighten($moon-glow, 5%);
  padding: 1px;
  font-size: 12px;
  td {
    border: 1px solid $gallery;
    padding: 6px 14px;
    font-size: 10px;
    background-color: white;
  }
}

textarea {
  width: 90%;
  min-height: 140px;
  border: 1px solid gray;
  background-color: #303a3c;
  color: white;
  border-radius: 24px;
  padding: 22px;
  margin: 10px;
  font-family: "Inconsolata";
  font-size: 140%;
  &:focus, &:hover {
    outline:0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
  }
}
dl {
  // font-size: 65%;
  >* { margin-inline-start: 0; }
dt { font-family: "Titillium Web"; margin-top: 8px; padding: 10px; }
dd { font-weight: light; font-size: 12px; padding-bottom: 20px; }
}

h1,h2,h3,h4,h5,h6 {
  margin-bottom: 0px;
  text-transform: uppercase;
  font-size: 80%;
  font-family: "Titillium Web";
}